* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --background: #e3e3de;
    --bg-hailight: #e1e1db;
    --dark-hailight: #bfbfb2;
    --dark: #080807;
    --lightcolor: #393632;
    --darkcolor: #D1D1C7;
}

::selection{
    background-color: var(--dark-hailight);
    color: var(--lightcolor);
}

body {
    background-color: var(--background);
}

 .social{
    display: flex;
    flex-direction: column;
    padding: 1vw .8vw;
    gap: 1vw;
    position:absolute;
    top:81%;
    z-index: 9;
    border-radius: 2px;
    background-color:var(--lightcolor);
}

.social a{
    text-decoration: none;
    color:var(--darkcolor);
    font-size: 1.8vw;
    display: flex;
}

.social a:hover {
    color: var(--dark-hailight);
}

#main {
    width: 100%;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}


nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a img {
    width: 130px;
    padding-left: 2vw;
}

nav .menu {
    display: flex;
    gap: 2vw;
    padding-right: 2vw;
}

nav .menu img{
    display: none;
}

nav .menu a {
    color:var(--lightcolor);
    text-decoration: none;
    font-weight: 500;
    font-size: 1vw;
    text-transform: uppercase;
    transition: all .6s ease-in;
}

nav .menu a:hover {
    color: #474747;
    font-weight: 500;
}

nav .menu-btn {
    padding-right: 2vw;
    display: none;
}

nav .menu-btn i {
    font-size: 1.4vw;
}


.page1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#39363200, #bfbfb29a), url('media/testimonials.b6b49d14.svg');
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    display: flex;
}

.hero-section {
    width: 72%;
    margin: auto;
    height:70vh;

}

.hero-section .hero-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hero-section .hero-heading span {
    font-size: 7.8vw;
    color: var(--lightcolor);
    font-weight: 900;
    line-height: 8vw;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(100%);
}



.hero-section .hero-heading:nth-child(1) {
    text-align: center;
}


.hero-section p {
    color: var(--lightcolor);
    opacity: .7;
    width: 60%;
    padding: 4vw 0;
    margin: auto;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 600;
}



.page2 {
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    color: var(--dark-hailight);
    border-radius: 2vw 2vw 0 0;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top:100%
}


.heading {
    width: 100%;
    padding: 2vw;
}

.heading h2 {
    font-size: 6vw;
    font-weight: 500;
}

.aboutsection {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutsection .image {
    width: 50%;
    height: 90%;
}

.aboutsection .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aboutsection p {
    width: 40%;
    height: 100%;
    font-size: 2.8vw;
    font-weight: 400;
}


.page3 {
    width: 100%;
    height: 100vh;
    color: var(--dark-hailight);
    background-color: var(--dark);
}

.page3 .slider {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.page3 .slider .img-box {
    display: flex;
    width: fit-content;
    height: fit-content;
    animation: slider 20s linear infinite;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.page3 .slider .img-box img {
    width: 400px;
    height: 100%;
    align-self: flex-end;
    padding-right: 2vw;
}

.page3 .slider .img-box video {
    width: 500px;
    height: 100%;
    align-self: flex-end;
}

.page4 {
    width: 100%;
    min-height: 100vh;
    color: var(--dark-hailight);
    background-color: var(--dark);
    padding: 4vw 0;
    border-radius: 0 0 2vw 2vw;
}

.page4 .page4-sec {
    width: 100%;
    height: 80vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.page4 .page4-sec .video {
    width: 46%;
    height: fit-content;
    padding: 2vw;
}

.page4 .page4-sec .video .video-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.page4 .page4-sec .video .video-desc .title>h2 {
    font-size: 2.2vw;
    font-weight: 500;
}

.page4 .page4-sec .video .video-desc .about {
    display: flex;
    gap: 10px;
}

.page4 .page4-sec .video .video-desc .about>h4 {
    font-size: 1.2vw;
    font-weight: 200;
    border: 1px solid var(--darkcolor);
    padding: .2vw 2vw;
    border-radius: 30px;
}

.page4 .page4-sec .video .video-desc .about>h4:nth-child(3) {
    background-color: var(--dark-hailight);
    color: var(--lightcolor);
    font-weight: 500;
}


.page4 .page4-sec .video video{
    width: 100%;
    height: 100%;
    padding: 1vw 1vw;
    border-radius: 10px;
    box-shadow: 0px 1px 6px #dadada3f;
}



.page4 .page4-sec .video:nth-child(1) {
    align-self: baseline;
}

.page4 .page4-sec .video:nth-child(2) {
    align-self: last baseline;
}





.page5 {
    width: 100%;
    height: 100vh;
    padding-top: 4vw;
}

.page5 .heading{
    width: 90%;
    margin: auto;
    border-bottom: 2px  solid var(--lightcolor);
    text-align: center;

}

.page5 p{
    font-size:2vw !important;
    font-weight: 400;
    color: var(--lightcolor);
}

.page5 h2{
    font-size: 12vw !important;
    font-weight: 600;
    letter-spacing: -12px;
    line-height: 16vw;
    text-transform: uppercase;
    color: var(--lightcolor);
}

footer{
    width: 90%;
    height: 40vh;
    /* background-color: red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.f-section{
    display: flex;
    flex-direction: column;
}

.f-section:nth-child(1) h4{
    font-size: 4vw;
    font-weight: 800;
    line-height: 4vw;
}

.f-section:nth-child(2) .f-heading h4,.f-section:nth-child(3) .f-heading h4{
    font-size: 1.8vw;
    font-weight: 400;
    line-height: 4vw;
    text-transform: uppercase;
}

.f-section:nth-child(2) a,.f-section:nth-child(3) a{
    color: var(--lightcolor);
    font-size: 1.2vw;
    font-weight: 200;
    opacity: .7;
    text-decoration: none;
    padding: .6vw 0;
    transition: all .6s ease-in-out;
}

.f-section:nth-child(2) a:hover,.f-section:nth-child(3) a:hover{
    color: var(--lightcolor);
    opacity: 1;
    font-weight: 300;
}
